[Desktop Entry]
Encoding=UTF-8
Type=Application
X-TDE-StartupNotify=true
StartupWMClass=excel.exe
Terminal=false
Categories=Application;Office;Spreadsheet;
MimeType=application/excel;application/x-excel;application/x-ms-excel;application/x-msexcel;application/x-sylk;application/x-xls;application/xls;application/vnd.ms-excel;application/vnd.stardivision.calc;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroEnabled.12;application/x-dif;text/spreadsheet;text/csv;application/x-prn;application/vnd.ms-excel.sheet.binary.macroenabled.12;
Icon=excel
Exec="$HOME/Microsoft_Office_365/excel.sh" %u
Name=Excel
Comment=Microsoft Excel
