[Desktop Entry]
Encoding=UTF-8
Type=Application
X-TDE-StartupNotify=true
StartupWMClass=winword.exe
Terminal=false
Categories=Application;Office;WordProcessor;
MimeType=application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/rtf;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;application/x-pocket-word;application/x-dbf;application/msword-template;
Icon=word
Exec="$HOME/Microsoft_Office_365/winword.sh" %u
Name=Word
Comment=Microsoft Word
